src/main/java/com/vedatech/pro/model/cfdi/cfdi_Addenda.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
         <!-- XML Schema Generated from XML Document on Thu Mar 07 2019 12:47:36 GMT-0600 (Central Standard Time) -->
         <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
         <xs:element name="cfdi:Addenda">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element name="if:FacturaInterfactura">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="if:Emisor">
                                                   <xs:complexType>
                                                         <xs:attribute name="RI" type="xs:int"></xs:attribute>
                                                         <xs:attribute name="NumProveedor" type="xs:int"></xs:attribute>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="if:Receptor">
                                                   <xs:complexType>
                                                         <xs:attribute name="RI" type="xs:int"></xs:attribute>
                                                         <xs:attribute name="Activo" type="xs:string"></xs:attribute>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="if:Encabezado">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="if:Cuerpo" maxOccurs="unbounded">
                                                                     <xs:complexType>
                                                                           <xs:attribute name="Renglon" type="xs:int"></xs:attribute>
                                                                           <xs:attribute name="Codigo" type="xs:int"></xs:attribute>
                                                                           <xs:attribute name="Cantidad" type="xs:int"></xs:attribute>
                                                                           <xs:attribute name="Concepto" type="xs:string"></xs:attribute>
                                                                           <xs:attribute name="PUnitario" type="xs:int"></xs:attribute>
                                                                           <xs:attribute name="Importe" type="xs:int"></xs:attribute>
                                                                           <xs:attribute name="SKU" type="xs:int"></xs:attribute>
                                                                           <xs:attribute name="SubTotal" type="xs:int"></xs:attribute>
                                                                           <xs:attribute name="CantidadUdeM" type="xs:int"></xs:attribute>
                                                                           <xs:attribute name="FactorEmpaque" type="xs:int"></xs:attribute>
                                                                           <xs:attribute name="U_x0020_de_x0020_M" type="xs:int"></xs:attribute>
                                                                           <xs:attribute name="CUnitarioLista" type="xs:int"></xs:attribute>
                                                                           <xs:attribute name="TotalDescuentos" type="xs:int"></xs:attribute>
                                                                           <xs:attribute name="EAN13" type="xs:int"></xs:attribute>
                                                                           <xs:attribute name="UnidadDeMedidaFiscal" type="xs:string"></xs:attribute>
                                                                           <xs:attribute name="cfdiClaveProdServ" type="xs:int"></xs:attribute>
                                                                           <xs:attribute name="cfdiClaveUnidad" type="xs:string"></xs:attribute>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                         </xs:sequence>
                                                         <xs:attribute name="IdInterno" type="xs:int"></xs:attribute>
                                                         <xs:attribute name="TemplateId" type="xs:int"></xs:attribute>
                                                         <xs:attribute name="Folio" type="xs:int"></xs:attribute>
                                                         <xs:attribute name="FolioSerie" type="xs:string"></xs:attribute>
                                                         <xs:attribute name="SerieFolio" type="xs:string"></xs:attribute>
                                                         <xs:attribute name="Serie" type="xs:string"></xs:attribute>
                                                         <xs:attribute name="MonedaDoc" type="xs:string"></xs:attribute>
                                                         <xs:attribute name="MonedaDesc" type="xs:string"></xs:attribute>
                                                         <xs:attribute name="Status" type="xs:int"></xs:attribute>
                                                         <xs:attribute name="CFD" type="xs:string"></xs:attribute>
                                                         <xs:attribute name="Estatus" type="xs:string"></xs:attribute>
                                                         <xs:attribute name="ProcesoId" type="xs:int"></xs:attribute>
                                                         <xs:attribute name="FolioAvisoPrefactura" type="xs:int"></xs:attribute>
                                                         <xs:attribute name="serie" type="xs:string"></xs:attribute>
                                                         <xs:attribute name="Fecha" type="xs:dateTime"></xs:attribute>
                                                         <xs:attribute name="CondicionPago" type="xs:string"></xs:attribute>
                                                         <xs:attribute name="SubTotal" type="xs:int"></xs:attribute>
                                                         <xs:attribute name="Total" type="xs:int"></xs:attribute>
                                                         <xs:attribute name="NumProveedor" type="xs:int"></xs:attribute>
                                                         <xs:attribute name="FechaRecepcion" type="xs:dateTime"></xs:attribute>
                                                         <xs:attribute name="Moneda" type="xs:string"></xs:attribute>
                                                         <xs:attribute name="LugarExpedicion" type="xs:int"></xs:attribute>
                                                         <xs:attribute name="TipoCambio" type="xs:int"></xs:attribute>
                                                         <xs:attribute name="NumSucursal" type="xs:int"></xs:attribute>
                                                         <xs:attribute name="FechaOrdenCompra" type="xs:dateTime"></xs:attribute>
                                                         <xs:attribute name="MunicipioSucursalCliente" type="xs:string"></xs:attribute>
                                                         <xs:attribute name="GLNReceptor" type="xs:int"></xs:attribute>
                                                         <xs:attribute name="GLNSucursal" type="xs:int"></xs:attribute>
                                                         <xs:attribute name="Departamento" type="xs:int"></xs:attribute>
                                                         <xs:attribute name="RegimenFiscalEmisor" type="xs:int"></xs:attribute>
                                                         <xs:attribute name="FechaVencimientoProgramada" type="xs:dateTime"></xs:attribute>
                                                         <xs:attribute name="DiasPlazo" type="xs:int"></xs:attribute>
                                                         <xs:attribute name="ProcesoIdReceptor" type="xs:int"></xs:attribute>
                                                         <xs:attribute name="OmiteCodigoMetodoDePago" type="xs:string"></xs:attribute>
                                                         <xs:attribute name="cfdiUsoCFDI" type="xs:string"></xs:attribute>
                                                         <xs:attribute name="cfdiFormaPago" type="xs:int"></xs:attribute>
                                                         <xs:attribute name="cfdiMetodoPago" type="xs:string"></xs:attribute>
                                                         <xs:attribute name="NoDecimalesRepGrafica" type="xs:int"></xs:attribute>
                                                         <xs:attribute name="cadenaOriginal" type="xs:string"></xs:attribute>
                                                         <xs:attribute name="cadenaOriginalTimbre" type="xs:string"></xs:attribute>
                                                         <xs:attribute name="cadenaOriginalEmisor" type="xs:string"></xs:attribute>
                                                         <xs:attribute name="importeConLetra" type="xs:string"></xs:attribute>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:sequence>
                                       <xs:attribute name="TipoDocumentoId" type="xs:int"></xs:attribute>
                                       <xs:attribute name="TipoDocumento" type="xs:string"></xs:attribute>
                                       <xs:attribute name="Id" type="xs:int"></xs:attribute>
                                 </xs:complexType>
                           </xs:element>
                     </xs:sequence>
                     <xs:attribute name="xmlns:if" type="xs:string"></xs:attribute>
                     <xs:attribute name="xmlns:xsi" type="xs:string"></xs:attribute>
                     <xs:attribute name="xmlns:cfdi" type="xs:string"></xs:attribute>
                     <xs:attribute name="xsi:schemaLocation" type="xs:string"></xs:attribute>
               </xs:complexType>
         </xs:element>
   </xs:schema>
 